.nav-link a:hover{
    background-color: (rgb(204, 223, 228)) !important;
      color: rgb(96, 170, 189) !important;
      border-bottom-style:solid !important;
}

.nav{
    font-size: 25px;
    font-weight: 500;
    color: #2a3c7c;
}


.aqua{
    text-align: center;
}

.isi{
    font-family: Gotham,helvetica,arial,sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #444;
    text-align: left;
    white-space: normal!important;
    word-break: break-word!important;
    word-wrap: break-word!important;
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
}

.refrensi{
    font-family: Gotham,helvetica,arial,sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #444;
    text-align: left;
    box-sizing: inherit;
    margin-top: 0;
    font-size: 16px;
}

.bawah{
    color:rgb(253, 250, 250);
    text-align: center;
    margin-top: 300px;
    padding-bottom: 100px;
    font-family: Gotham,helvetica,arial,sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 16px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('inferno.png');
    background-size: cover;
}

.bootom{

    font-family: Gotham,helvetica,arial,sans-serif;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.6;
    box-sizing: inherit;
    background: #2a3c7c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
